@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body{
    box-sizing: border-box;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.convincer{
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.reason{
    filter: drop-shadow(7px 7px 9px rgba(0,0,0,0.5));
}

.text{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: black;
}

h1{
    font-family: 'Instrument Serif', serif;
    width: 40%;
    text-align: center;
    font-size: 4vw;
    line-height: 3.6vw;
    margin-bottom: 0px;
}

p{
    font-family: 'Schibsted Grotesk', sans-serif;
    width: 38%;
    font-size: 1vw;
    text-align: center;
}

.button{
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    color: black;
    background: white;
    padding: 8px 15px;
    border-radius: 50px;
    filter: drop-shadow(0px 0px 6px rgba(211,77,255,0.3));
}

a{
    text-decoration: none;
}

a:hover{
    filter: invert();
}


img{
    width: 3vw;
    height: 3vh;
    position: absolute;
    transform-origin: center;
}

@media screen and (max-width: 480px) {
    h1{
        width: 80%;
        font-size: 36px;
        line-height: 33px;
    }
    
    p{
        width: 70%;
        font-size: 10.5px;
    }
    
    .button{
        top: 40px;
        right: 30px;
        font-size: 12px;
    }

    img{
        width: 30vw;
        height: 30vw;
    }
}

  @media screen and (min-width: 600px) and (max-width: 992px) {
    h1{
        width: 80%;
        font-size: 60px;
        line-height: 55px;
    }
    
    p{
        width: 70%;
        font-size: 18px;
    }
    
    .button{
        top: 40px;
        right: 40px;
        font-size: 18px;
    }

    img{
        width: 25vw;
        height: 25vw;
    }
  }