/* Importing fonts */
@import url("https://use.typekit.net/ets2pxa.css");
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

@font-face {
    font-family:'Jubilee';
    src: url('fonts/jubilee/otjubilee-diamond.woff') format('woff'),
         url('fonts/jubilee/otjubilee-diamond.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/********************/


body{
    overflow-x: hidden;
    background-color: #121212;
    box-sizing: border-box;
}

.headerContainer{
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.header{
    font-family: 'Jubilee';
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
}

#first{
    font-size: 6.2vw;
    margin: 0%;
    padding: 0%;
    line-height: 6.2vw;
}

#second{
    font-size: 14vw;
    margin: 0px;
    padding: 0px;
    line-height: 10vw;
}

.subtitle{
    font-family: "scotch-text-condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:calc(12px + 0.3vw);
    color: whitesmoke;
    margin: 0px 2vw 2vw 2vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#one{
   width: 18vw;
}

#two{
    width: 25vw;
    margin-right: 1vw;
 }

.content{
    height: fit-content;
    padding-bottom: 150px;
    margin-bottom: 0px;
    width: 100vw;
    font-family: "scotch-text-condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:calc(12px + 0.3vw);
    position: relative;
    margin: auto;
    background-color: whitesmoke;
}

.item{
    height: 55vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    /* background-color: pink; */
}

.photo{
    width: 50vw;
    position: relative;
    height: 38vh;
    /* background-color: papayawhip; */
}

.photo img{
    filter: grayscale();
}

.itemTitle{
    font-size: calc(20px + 0.5vw);
    text-transform: uppercase;
    letter-spacing: -1px;
}

.text{
    width: 50vw;
    position: relative;
}

.textA p{
    width: 22vw;
    position: absolute;
    left: 3vw;
    /* background-color: aquamarine; */
}

.photoA img{
    max-width: 45vw;
    max-height: 50vh;
    position: absolute;
    right: 0px;
}

.textB p{
    width: 22vw;
    position: absolute;
    right: 3vw;
    /* background-color: aquamarine; */
}

.photoB img{
    max-width: 45vw;
    max-height: 50vh;
    position: absolute;
    left: 0px;
}

.photo img:hover{
    filter: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: lightgoldenrodyellow;
    color: #121212;
    border: 1px solid #121212;
    font-family: 'Xanh Mono', monospace;
    font-size: 0.8vw;
    overflow-wrap: break-word;
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-left: -15%;
    z-index: 2;
}

.tooltip .tooltiptext p{
    text-align: left;
    width: 90%;
    margin: 10px 15px;
    padding-bottom: 3px;
}

.footer{
    background-color: #121212;
    font-family: "scotch-text-condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:calc(10px + 0.3vw);
    color: whitesmoke;
    text-align: center;
    width: 100vw;
    margin: 15vh 0vw 5vh 0vw;
}

.footer p{
    /* position: absolute; */
    width: 35vw;
    position: relative;
    margin: auto;
}

.footer a{
    color: whitesmoke;
}