@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

body{
    box-sizing: border-box;
    background-color: black;
    margin: 0px;
    overflow-x: hidden;
}

.container{
   display: flex;
   flex-flow: column nowrap;
   /* width: 100vw; */
   height: 200vh;
   width: 100vw;
   /* background-color: aqua; */
   padding: 0px;
   margin: 0px;
}

.header{
    font-family: 'Xanh Mono', monospace;
    font-size: 16px;
    color: white;
    /* background-color: pink; */
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.instructions{
    width: 40%;
    /* background-color: red; */
    padding: 0px 20px;
}

.heading{
    width: fit-content;
    /* background-color: red; */
    padding: 0px 20px;
}

.items{
    background-color: chartreuse;
    width: 100vw;
    height: 100%;
}

#template{
    display: none;
}

.tooltip {
    background-color: white;
    color: black;
    width: 60px;
    height: 60px;
    position: fixed;
    transform-origin: center;
    position: relative;
    top:0px;
    left:0px;
    border-bottom: 1px dotted black;
}
  
.tooltip img{
    width: 100px;
    height: auto;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    font-family: 'Xanh Mono', monospace;
    font-size: 12px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -150px;
    z-index: 100000;
}

.tooltip .tooltiptext p{
    text-align: left;
    width: 90%;
    margin: 10px 15px;
    padding-bottom: 3px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}